@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'sans-serif';
    font-weight:200;
}
html {
font-size: 70.5%;
}
.main-div {
    background-color:#BFD7ED;
    display:grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
}
.inner-div{
    width: 30vw;
    background-color: #fff;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0, 0.4);
    border: 2px solid black;
}
.inner-div-question{
    width: 40vw;
    background-color: #fff;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0, 0.4); 
    border: 2px solid black;
}
.inner-div-question ,label{
    font-size: 20px;
   
}
.inner-div ,h1{
    font-size:30px;
    margin: 15px;
}

.inner-div ,li{
    font-size: 20px;
}

input{
    cursor: pointer;
}

#submit{
 display: block; 
 background-color:black;
 color:white;
 margin:auto;
 padding:10px;
 font-size: 20px;
 border-radius:5px;
}
#next{
display: block; 
 background-color:black;
 color:white;
 text-align: center;
 padding:10px;
 font-size: 20px;
 border-radius:5px; 
 margin-top: 20px;
}
#submit:hover{
    background-color:burlywood;
}

.engage:hover{
    color:#BFD7ED;
    
}
header {
    background-color:#FFFFFF;
    padding: 1px;
    border: 2px solid black;
    border-radius:5px; 
}
#start{
    display: block; 
    background-color:black;
    color:white;
    margin: auto;
    padding:10px;
    font-size: 20px;
    border-radius:5px;
}
#select{
    background-color:wheat;
    width:30%;
    padding:7px;
    margin: 5px;
    border-radius:5px;
}
#showScore{
    background-color:#BFD7ED;
    margin-top: 10px;
    padding: 2rem  2rem;
    width:100%;
    border-radius:10px;
    border: 2px solid black;
}
.scoreArea{
    display: none;
}
.answer.correct{
    background-color: green;   
}
.answer.in_correct{
    background-color: red;  
}
#count{
color: blue;
}







